# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Large media files
*.mp4
*.avi
*.mov

# Jupyter
.ipynb_checkpoints/
